/* body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
  }
  
  
  .app {
    text-align: center;
    padding: 20px;
  }
  
  
  
  .benefits-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .benefit-card {
    background-color: #776f6f;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    transition: transform 0.3s ease;
    color: white;
  }
  
  .benefit-card:hover {
    transform: scale(1.05);
  }
  
  .benefit-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  
  .benefit-content {
    padding: 15px;
    text-align: left;
  }
  
  .benefit-icon {
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  .benefit-title {
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
  }
  
  .benefit-description {
    font-size: 14px;
    color:white;
  }
  
  @media (max-width: 768px) {
    .benefit-card {
      width: 90%;
    }
  }
   */

   /** @format */
.partner-choose {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}


.background-grid {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.background-grid h1 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 3rem;
}

.cards-container {
  display: flex;
  gap: 1.5rem; /* Space between cards */
  z-index: 100; /* Ensures cards appear above the background grid */
  position: relative;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem; /* Adjust card width */
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  text-align: center;
}

.image-placeholder img {
  /* width: 300px; Full width for image placeholder */
  /* height: 200px; */
  width: 20rem;
  border-radius: 0.5rem 0.5rem 0 0; /* Rounded top corners */
}

.card-heading {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 1rem; /* Space between image and heading */
  color: white;
}
.cards-container,
.card {
  transform-style: flat;
}

.card-text {
  margin-top: 0.5rem;
  color: #555;
  font-size: 0.875rem;
  line-height: 1.5;
  color: white;
}

.advance {
  background-color: black;
  padding: 10px;
}

.advance:hover {
  transform: translateY(-50px);
  transition: 0.6s ease-in-out; /* Move up slightly on hover */
}

@media (max-width: 600px) {
  .background-grid h1 {
    display: none;
  }

  .cards-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .card {
    padding: 1rem;
    
  }

  .card-heading {
    font-size: 1.25rem;
  }

  .card-text {
    font-size: 0.875rem;
  }
  .image-placeholder{
    display: none !important;
  }
}