.newsletter-container{
    background: linear-gradient(to right, #625afa,#e1c5e4);
    height: 7rem;
    /* padding: 5px 10px; */
    margin-bottom: 70px;
    margin-top: 70px;

}
.newsletter-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.newsletter-header-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width:500px ;
    margin-top: 10px;
    margin-left: 5rem;

}
.inner-left img{
    margin-top: 5px;
    width: 30px;
}
.inner-right {
    margin-left: 1rem;
    text-align: left;
}

.inner-right p{
    margin-bottom: -0.1rem;
    font-size: 16px;
    color: white;
   
}
.inner-right h1{
    font-size: 25px;
    color: white;

}

.check{
    background-color: #8d31e3 !important;
    border-radius: 3px;
    color: white;
    padding: 16px ;
    margin-right: 6rem;
    border: transparent;
}



@media (max-width: 600px) {
    .newsletter-container {
      padding: 10px 5px;
    }
  
    .newsletter-header {
      flex-direction: row; 
      align-items: center; 
      text-align: center;
      height: auto; 
    }
  
    .newsletter-header-left {
      flex-direction: row; 
      justify-content: center;
      align-items: center;
      margin-left: 0;
      min-width: auto;
    }
  
    .inner-left img {
      width: 26px; 
    }
    .inner-right{
        max-width: 60vw;
    }
  
    .inner-right p {
      font-size: 10px;
    }
  
    .inner-right h1 {
      font-size: 14px; 
      max-width: 60vw;
      text-align: left;
    }
  
    .check {
      font-size: 11px;
      margin-top: 1rem;
      margin-right: 0;
    }
  }